{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="page-header">
	<h1>您好， 
		{% if current_user.is_authenticated() %}
			{% if current_user.is_administrator() %}
				管理员-{{ current_user.username }}，欢迎回来！ 
			{% else %}
				{{ current_user.username }}，很开心您能再次访问！
			{% endif %}
		{% else %}
			陌生人，欢迎访问！
		{% endif %}</h1>
<!-- 	{% if not known %}
	<p>欢迎访问！</p>
	{% else %} -->
<!-- 	<p>很开心您能再次访问！</p>
	{% endif %} -->
<!-- 	<p>现在时间为：{{ moment(current_time).format('YYYY-MM-DD HH:MM:SS')}}.</p> -->
<!-- 	<p>That was {{ moment(current_time).fromNow(refresh=True)}}.</p>   -->
</div>
<div>
	{% if current_user.can(Permission.WRITE_ARTICLES) %}
	{{ wtf.quick_form(form) }}
	{% endif %}
</div>

<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">所有用户</a></li>
        {% if current_user.is_authenticated() %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注的用户</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
	{{ macros.pagination_widget(pagination,'.index')}}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown()}}
{% endblock %}
