{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
	<h1>您好， 
		{% if current_user.is_authenticated() %}
			{% if current_user.is_administrator() %}
				管理员-{{ current_user.username }}，欢迎回来！ 
			{% else %}
				{{ current_user.username }}，很开心您能再次访问！
			{% endif %}
		{% else %}
			陌生人，欢迎访问！
		{% endif %}</h1>
<!--	{% if not known %}
	<p>欢迎访问！</p>
	{% else %}
	<p>很开心您能再次访问！</p>
	{% endif %} -->
	<p>现在时间为：{{ moment(current_time).format('YYYY-MM-DD HH:MM:SS')}}.</p>
<!--	<p>That was {{ moment(current_time).fromNow(refresh=True)}}.</p> -->
</div>
{% endblock %}